absl-py==0.8.1
astor==0.8.1
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.0.0
Camelot==12.6.29
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cx-Oracle==7.1.1
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dash==1.9.0
dash-core-components==1.8.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
decorator==4.3.0
dill==0.2.8.2
Django==1.9
Elixir==0.7.1
en-core-web-lg==2.0.0
Flask==1.0.2
Flask-Compress==1.4.0
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
ftfy==4.4.3
future==0.18.2
gast==0.2.2
google-auth==1.8.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.0.1
idna==2.7
ijson==2.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.1.1
MarkupSafe==1.0
marshmallow==2.15.6
marshmallow-sqlalchemy==0.14.1
matplotlib==3.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbformat==4.4.0
networkx==2.2
nltk==3.4
numpy==1.17.4
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas==0.23.4
pbr==5.1.3
plac==0.9.6
plotly==4.5.2
preshed==2.0.1
protobuf==3.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyemd==0.5.1
pyparsing==2.2.2
PyPDF2==1.26.0
Pyphen==0.9.5
pypiwin32==223
pyreadline==2.1
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytils==0.3
pytz==2018.5
pywin32==227
regex==2018.1.10
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.20.1
scipy==1.1.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.11.0
soupsieve==1.9.1
spacy==2.0.18
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
style==1.1.0
Tempita==0.5.2
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
textacy==0.6.2
thinc==6.12.1
tools==0.1.9
toolz==0.9.0
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.23
update==0.0.1
urllib3==1.23
virtualenv==16.7.9
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.11.2
xlrd==0.7.1
xlwt==0.7.2
